*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CustomFont';
    src: url('fonts/CiscoSansTTBold.woff2');
    font-weight: bold;
  }
  @font-face {
    font-family: 'CustomFont';
    src: url('fonts/CiscoSansTTLight.woff2');
    font-weight: light;
  }
  @font-face {
    font-family: 'CustomFont';
    src: url('fonts/CiscoSansTTLightOblique.woff2');
    font-weight: light;
    font-style: oblique;
  }
  @font-face {
    font-family: 'CustomFont';
    src: url('fonts/CiscoSansTTMedium.woff2');
    font-weight: medium;
  }
  @font-face {
    font-family: 'CustomFont';
    src: url('fonts/CiscoSansTTRegular.woff2');
    font-weight: regular;
  }

body {
    width: 100%;
    height: 100%;
    font-family: 'CustomFont';
    position: relative;
}
main {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}
header{
    border-bottom: 1px solid rgb(209, 209, 209);
}
.fs-0 {
    font-size: 3rem;
}
.fs-7 {
    font-size: 0.85rem;
}
.p-6 {
    padding: 5rem;
}
.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.border-top-text {
    border-top: 1px solid rgb(198, 198, 198);
}

/* offcanvas height */
.offcanvas-top {
    height: 60vh;
}
.bg-custom-grey {
    background-color: #F4F5F6;
}
.login-text {
    width: 50px;
}
.hero-image picture img {
    width: 100%;
}
/* first content */
.first-content {
    border-bottom: 1px solid #cccccc;
}
.first-content p{
    font-weight: 100;
}
.first-content-btn {
    background-color: #0D274D;
    color: #fff;
    padding: 18px 35px;
    border-radius: 50px;
}

.col-umns2 .first-content-btn {
    background-color: #0070D2;
    padding: 18px 35px;
    border-radius: 50px;
}
.video-container {
    width: 90%;
}
.cisco-video1 {
    width: 95%;
}
.more-links {
    border-top: 1px solid #b7b7b7;
}
.news-container {
    position: relative !important;
    overflow-x: hidden;
}
.footer-section {
    background: #F4F5F6;
}
.link-head-color {
    color: #565656;
}
.link-color {
   color: #585858;
}
.hidden-links1.hidden {
    display: none !important;
}
.hidden-links2.hidden {
    display: none !important;
}
.hidden-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0D274D;
    z-index: 9999;
}
/* btn action */
.hidden-container.isVisible {
    display: block;
}
.hidden-container.notVisible {
    display: none;
}
/* //////////// */
.hi-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    color: #000;
}
.hi-heading h2 {
    padding: 20px 20px;
    font-size: 1.3rem;
    margin: 0;
}
.hi-heading i {
    font-size: 1.3rem;
    padding: 15px 20px;
}
.chat {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 2px solid #c0c0c0;
}
.chat i {
    padding-right: 15px;
    font-size: 1.4rem;
}
.chat span {
    font-size: 1.3rem;
}
.help {
    position: fixed;
    bottom: 25px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #0D274D;
    color: #fff;
    z-index: 9999;
}

@media (min-width: 1620px) {
    body {
        background-color: #F2F2F2;
    }
    main {
        width: 84%;
        margin: auto;
        box-shadow: 0 4px 10px #8d8d8d9f;
    }
}

@media (min-width: 768px) {
    nav {
        height: 90px !important;
    }
    .logo svg {
        width: 110px;
    }
    .menu-text-d {
        display: block !important;
    }
    .lg-setting {
        width: 100%;
    }
    .hidden-container {
        bottom: 25px;
        right: 30px;
        width: 400px;
        height: 500px;
        box-shadow: 0 4px 10px #0000009f;
        border: 2px solid rgb(0, 179, 255);
        border-radius: 18px;
    }
    .hi-heading {
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
}
@media (min-width: 1000px) {
    .menu-text-d {
        display: none !important;
    }
    .more-links {
        position: absolute !important;
        top: 0 !important;
        left: 30%;
        border-top: none;
    }
    .pe-10 {
        margin-right: 35%;
    }
}

@media (max-width: 1000px) {
    .col-umns {
        width: 90% !important;
    }
    .col-umns2 {
        width: 70% !important;
    }
}